<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--<add key="CadenaConexion" value="Data Source =ABRAHAM-VAIO;DATABASE=_MGERENCIAL;user id=sa;password=cuevas135;packet size=4096;" />-->
    <add key="CadenaConexion" value="Data Source=SISTEMAS-PC; DATABASE=_MGERENCIAL; user id=sa; password=cuevas135; packet size=4096;" />
    <!--<add key="CadenaConexion" value="Data Source=192.168.1.79;DATABASE=_MGERENCIAL;User ID=sa;password=transportes*1234;packet size=4096;" />-->
    <add key="MailAddress" value="soporte@transporteschiclayo.pe"/>
    <add key="UserName" value="soporte@transporteschiclayo.pe"/>
    <add key="Password" value="SO@375ab"/>
    <add key="Host" value="mail.transporteschiclayo.pe"/>
    <add key="Port" value="587"/>
    <!--<add key="To" value="soporte@transporteschiclayo.pe;supervisor.tripulantes@transporteschiclayo.pe
         ;diana.alvitres@transporteschiclayo.pe
         ;grodriguez@transporteschiclayo.pe;ordonezdiego@transporteschiclayo.pe;asesoria.legal@transporteschiclayo.pe
         ;transchiclayo2018@gmail.com"/>-->
    <add key="To" value="soporte@transporteschiclayo.pe
         ;transchiclayo2018@gmail.com"/>
  </appSettings>
</configuration>